<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887722834560-00b3lglvfab3dnvckauu5qr98q7dr8uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887722834560-00b3lglvfab3dnvckauu5qr98q7dr8uh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVYDayAq3OS1XIWzFh-OFp394g5J3JciQ</string>
	<key>GCM_SENDER_ID</key>
	<string>887722834560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Xcode.NTVApp</string>
	<key>PROJECT_ID</key>
	<string>ntvapp-ad6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>ntvapp-ad6e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887722834560:ios:51ff807c042877c676c465</string>
	<key>DATABASE_URL</key>
	<string>https://ntvapp-ad6e8.firebaseio.com</string>
</dict>
</plist>